<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Load Balancing</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        img {
            max-width: 200px; /* Adjust size as needed */
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo">
    <h1>Served from Pod: {{ pod_name }}</h1>
</body>
</html>
